.leftmenu{
    width: 280px;
    height: 100%;
    z-index: 1;
    min-height: 100vh;
    background: rgba(34, 34, 34, 0.6);
    backdrop-filter: blur(10px);
    padding: 20px 15px;
    overflow: hidden;
    transition: all 0.3 cubic-bezier(0.175,0.885,0.32,1.275);



}
.leftmenu .logo-container{
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftmenu .logo-container i{
    font-size: 30px;
}
.leftmenu .logo-container i:nth-child(3){
    font-size: 20px !important;
}
.leftmenu .logo-container h2{
    font-size: 20px;
 
}
.search-box{
    width: 100%;
    height:45px ;
    position: relative;
    margin-top: 20px;
    color: #848484;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);


    
}
.search-box input{
    width: 100%;
    height: 100%;
    outline: none;
    border:none ;
    background-color:rgba(0, 0, 0, 0.5) ;
    padding-left: 45px;
    color: white;
    font-size: 14px;
    font-weight: bold;

}
.search-box  .search-icon{
    position: absolute;
    color: #848484;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}
.menu-container{
    margin: 15px 0;

}
.menu-container .title,
.playltstContainer .nameContainer p{
    color: #848484;
    font-size: 12px;
    font-weight:bold ;
    margin-bottom: 10px;
    text-transform: uppercase;

}
.menu-container ul{
    width: 100%;
    padding: 0;
}
.menu-container ul li{
    list-style: none;
    margin: 5px 0;
    width: 100%;
    padding: 5px 0px;
    position: relative;


}
.menu-container ul li a{
    text-decoration: none;
    color: #848484;
    display: flex;
    align-items: center;
    font-size: 16px;

}
.menu-container ul li a i{
    font-size: 18px;
    margin-right: 15px ;
}
.menu-container ul li:before {
    content: "";
    position: absolute;
   
    color: #f1f1f1;
    top: 0;
    left: -15px;
    width: 0px;
    height: 100%;
    background-color: #49e12e;
    border-radius: 5px;
}
.menu-container ul li:hover::before ,
.menu-container ul li.active::before{
    width: 5px;
    transition: 0.3s;
}
.menu-container ul li:hover a ,
.menu-container ul li.active a{
    transition: 0.3s;
    color: #f1f1f1;
}



.playltstContainer{
    cursor: pointer;
    margin: 15px 0;

}
.playltstContainer .nameContainer{
    display: flex;
    justify-content: space-between;
    color: #848484;
    margin-bottom: 10px;
    align-items: center;
}
.playltstContainer .nameContainer p{
    font-style: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.playltstContainer .nameContainer i{
    cursor: pointer;
    color: #f1f1f1;

}
.playltstContainer .playListScroll{
    height: 140px;
    overflow-x:hidden ;
    overflow-y: scroll;
    position: relative;

}
.playltstContainer .playListScroll .PlayList:hover{
    color: #f1f1f1;
    transition: 0.3s;
}
.playltstContainer .playListScroll .PlayList{
    display: flex;
    color: #848484;
    align-items: center;
    margin: 10px;
    
}
.playltstContainer .playListScroll .PlayList i{
    font-size: 18px;
}
.playltstContainer .playListScroll .PlayList .list{
    margin-right: 15px;

}
.playltstContainer .playListScroll .PlayList .trash{
    margin-left: auto;
}
.playltstContainer .playListScroll .PlayList p{
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
}
.trackList{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 30px;

}
.trackList .top{
    display: flex;
    align-items: center;

}
.trackList .top img{
    width: 50px !important;

}
.trackList .top p{
    margin-left: 50px;
    color: #f1f1f1;
    font-size: 14px;

}
.trackList .top p span{
    display: block;
    font-size: 12px;
    color: #848484;

}
.trackList .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    color: #848484;

}
.trackList .bottom i:hover{
    color: #f1f1f1;
    transition:0.3s ;
    cursor: pointer;

}

.trackList .bottom input{
    position: relative;
    height: 5px;
    bottom: none;
    outline: none;
    border-radius: 5px;
    background:rgba(255, 255, 255, 0.1) ;
    appearance: none;

}
.trackList .bottom input::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #49e12e;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    transition: width 250ms linear;
}
.trackList .bottom input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #000;
    background: #f1f1f1;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
    transition: all 250ms linear;
}


.trackList .bottom input::-moz-progress-bar{
    background: #49e12e;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    transition: width 250ms linear;
}
.trackList .bottom input::-moz-range-thumb{
    background: #49e12e;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    transition: width 250ms linear;
}

@media screen and (max-width:780px){
    .leftmenu{
        width: 64px;
        min-width:64px ;
        
    }
    .leftmenu .search-box{
        display: none;

    }
    .leftmenu .trackList{
        display: none;
        
    }
    .leftmenu .playltstContainer{
        display: none;

    }
    .leftmenu .menu-container  ul li a span{
        display: none;
    }
    .leftmenu .menu-container  ul li a i{
        font-size: 24px; 
    }
    .leftmenu .menu-container  ul li{
        margin: 25px 0;
    }
    .leftmenu .logo-container h2{
        margin-left:20px ;
    }
}
